@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}
.telegram a:hover {background: #249bd7; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.instagram a:hover {background: #3f729b; color: #fff;}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.headborder{
	    border-bottom: 5px solid black;
		max-width: 230px;
}
.skills{
	text-align: center;
}
span .infotext{
	color: gray;
}
.blog-footer {
	padding: 1rem 0;
    text-align: center;

}
.centertext{
	text-align: center;
}
.numberphone{
	padding: 20px 0;
	margin: 0;
}



.email-bt {
        background:#b4bcc3;
        border:1px solid #b4bca3;
        border-radius:50%;
        box-shadow:0 8px 10px rgba(0,0,0,.9);
        cursor:pointer;
        height:68px;
        text-align:center;
        width:68px;
        position: fixed;
        right: 5%;
        bottom: 8%;
        z-index:999;
        transition:.3s;
        -webkit-animation:email-an linear 1s infinite;
        animation:email-an linear 2s infinite;
}

.email-bt .text-call{
        height:68px;
        width:68px;        
        border-radius:50%;
        position:relative;
        overflow:hidden;
}

.email-bt .text-call span {
    text-align: center;
    color:rgba(0,0,0,.9);
    opacity: 0;
    font-size: 0;
        position:absolute;
        right: 4px;
        top: 25px;
    line-height: 14px;
        font-weight: 600;
    text-transform: uppercase;
    transition: opacity .5s linear;
}

.email-bt .text-call:hover span {
    opacity: 1;
        font-size: 11px;
}
.email-bt:hover i {
    display:none;
}

.email-bt:hover {
        z-index:1;
        background:#fff;
        transition:.3s;
}
.email-bt:hover i {
        color:#38a3fd;
        font-size:40px;
        transition:.3s;
}
.email-bt i {
        color:#fff;
        font-size:29px;
        transition:.3s;
        line-height: 66px;
}

.email-bt i  {
        -webkit-animation: opsimple 3s infinite;
        animation: opsimple 3s infinite;
}

@-webkit-keyframes email-an {
        0% {
        box-shadow:0 8px 10px rgba(222, 219, 217,0.3),0 0 0 0 rgba(222, 219, 217,0.2),0 0 0 0 rgba(222, 219, 217,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(222, 219, 217,0.3),0 0 0 15px rgba(222, 219, 217,0.2),0 0 0 0 rgba(222, 219, 217,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(222, 219, 217,0.3),0 0 0 30px rgba(222, 219, 217,0),0 0 0 26.7px rgba(222, 219, 217,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(222, 219, 217,0.3),0 0 0 30px rgba(222, 219, 217,0),0 0 0 40px rgba(222, 219, 217,0.0)
}
}@keyframes email-an {
        0% {
        box-shadow:0 8px 10px rgba(222, 219, 217,0.3),0 0 0 0 rgba(222, 219, 217,0.2),0 0 0 0 rgba(222, 219, 217,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(222, 219, 217,0.3),0 0 0 15px rgba(222, 219, 217,0.2),0 0 0 0 rgba(222, 219, 217,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(222, 219, 217,0.3),0 0 0 30px rgba(222, 219, 217,0),0 0 0 26.7px rgba(222, 219, 217,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(222, 219, 217,0.3),0 0 0 30px rgba(222, 219, 217,0),0 0 0 40px rgba(222, 219, 217,0.0)
}
}

@keyframes opsimple {
0% {
    opacity: 0;
}
40% {
    opacity: 1;
}

80% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

@-webkit-keyframes opsimple {
0% {
    opacity: 0;
}
40% {
    opacity: 1;
}
80% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

.call-btn{
  border-radius: 20px;
  width: 50%;
  min-width: 130px;
}
a.info{
  color: grey;
  text-decoration: none;
}

a.info:hover{
  text-decoration: none !important;
}
@media (max-width: 576px){
	.centertext{
		color: gray;
		font-weight: bold;
	}
	.social a{
		float: center;
	}
	.featurette-heading{
		text-align: center;
	}
}
